services:

  app:

    image: php:8.4-fpm

    container_name: laravel-app

    volumes:

      - ./src:/var/www/html

    working_dir: /var/www/html



  web:

    image: nginx:latest

    container_name: nginx-web

    ports:

      - "80:80"

    volumes:

      - ./src:/var/www/html

      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf

    depends_on:

      - app